#aboutTbl tr td {
    border: 1px solid black;
    padding: 10px 15px;
}

#logoutBtn:hover {
    color: #4d4d4e;
}

#userProfile .panel-footer:hover, #userProfile .panel-heading:hover {
    background-color: #dedddd;
}

.profileicon {
    color: #909096;
}

.userNamecs {
    color: #4d4d4e;
    font-size: medium;
}

* {
    margin: 0px;
    padding: 0px;
    font-family: sans-serif;
    font-size: 14px;
    color: white;
}

#sidebar {
    width: 200px;
    min-height: 100vh;
    overflow: hidden;
    background-color: white;
    border: 1px solid white;
    transition: all 500ms linear;
    z-index: 200;
    flex-basis: 12%;
    box-shadow: 2px 2px 5px 2px #c3bfbfed;
}

    #sidebar.active {
        left: 0px;
    }

    #sidebar ul {
        margin-bottom: 100px;
    }

        #sidebar ul li {
            color: #000;
            list-style: none;
            padding-top: 15px;
            padding-bottom: 15px;
            border-radius: 0px;
            text-align: left;
            padding-left: 0px;
        }

.sidebara, .sidebara:hover {
    color: white;
    font-size: 15px;
    text-decoration: none;
}

#sidebar ul li .toggle-btn span {
    display: block;
    width: 25px;
    height: 4px;
    background-color: #171e20;
    margin: 3px 0px;
    border-radius: 2px;
}

.HeaderImage {
    flex: 1;
    float: left;
}

p {
    float: right;
}

::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    background-color: #F5F5F5;
    border-radius: 10px;
}

    ::-webkit-scrollbar-track:hover {
        -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
        background-color: #F5F5F5;
        border-radius: 10px;
    }

::-webkit-scrollbar {
    width: 16px;
    height: 16px;
    background-color: #F5F5F5;
    border-radius: 10px;
    box-shadow: inset 0 0 5px grey;
}

::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-color: #9c9c9c;
}

div:hover::-webkit-scrollbar-corner {
    width: 15px;
}

.headerFix {
    box-shadow: 2px 2px 8px 2px #efe7e7;
}

    .headerFix tr th {
        position: sticky;
        top: -1px;
        color: rgb(30, 31,31);
        border: none;
        background-color: #c1c2c2;
        z-index: 5;
        font-size: 16px;
        padding: 12px 6px;
        white-space: nowrap;
        text-align: center;
    }

    .headerFix tr td {
        padding: 10px 6px;
        color: #454444;
        font-size: 15px;
        z-index: unset;
        border: none;
        border-bottom: 1px solid #f3f2f5;
        white-space: nowrap;
        text-align: left;
    }

.footerfix tr:last-child td {
    position: sticky;
    bottom: 0px;
    padding: 10px 6px;
    color: #454444;
    font-size: 15px;
    z-index: unset;
    border: none;
    border-bottom: 1px solid #f3f2f5;
    white-space: nowrap;
    text-align: left;
    background-color: #c1c2c2;
}

.gridHover tr:not(:last-child):hover, .gridHover tr:not(:last-child):hover td {
    background-color: #eaeaea !important;
}

.gridHoverWithLastrow tr:hover, .gridHoverWithLastrow tr:hover td {
    background-color: #eaeaea !important;
}

.actionBtns {
    color: #1d74aa;
    text-align: center;
    font-size: 20px;
}

.successModalContent {
    border: 2px solid rgb(119, 190,74);
}

.successModalHeader {
    background-color: rgb(119, 190,74);
    padding: 8px;
    color: white;
}

.successModalFooter {
    padding: 5px;
    border-top: 1px solid rgb(119, 190,74);
}

.warningModalContent {
    border: 2px solid rgb(250,221, 9);
}

.warningModalHeader {
    background-color: rgb(250,221, 9);
    padding: 8px;
    color: black;
}

.warningModalFooter {
    padding: 5px;
    border-top: 1px solid rgb(250,221, 9);
}

.errorModalContent {
    border: 2px solid rgb(223, 71,12);
}

.errorModalHeader {
    background-color: rgb(223, 71,12);
    padding: 8px;
    color: white;
}

.errorModalFooter {
    padding: 5px;
    border-top: 1px solid rgb(223, 71,12);
}

.confirmationModalContent {
    border: 2px solid rgb(42, 140, 177);
}

.confirmationModalHeader {
    background-color: rgb(42, 140, 177);
    padding: 8px;
    color: white;
}

.confirmationModalFooter {
    padding: 5px;
    border-top: 1px solid rgb(42, 140, 177);
}

.generalModalContent {
    border: 2px solid rgb(9, 132,151);
}

.generalModalHeader {
    background-color: rgb(9, 132,151);
    padding: 8px;
    color: white;
}

.generalModalFooter {
    padding: 5px;
    border-top: 1px solid rgb(9, 132,151);
}

.modal-text {
    font-size: 18px;
}

.modalbtns {
    background-color: rgb(9, 132,151);
    color: white;
    padding: 3px 24px;
}

    .modalbtns:hover {
        background-color: rgb(9, 132,151);
        color: white;
        padding: 3px 24px;
    }

.leftLabel {
    font-size: 16px;
    font-weight: bold;
    color: #5f5f5f;
}

select {
    color: #454444;
}

#ParameterDropdownListMaster a, #ParameterDetailsMaster a, #EmployeeInformation a, #RoleAccessRights a, #CustomerDetails a, #ParameterDropdownListMaster a, #PODetailsMaster a, #PackagingAndExportInvoice a {
    color: white;
    text-decoration: none;
    cursor: pointer;
}

.collapse-menu {
    flex-basis: 88px !important;
    overflow: hidden;
}

.main-menu-item, .sub-menu-item {
    text-align: left;
    font-weight: bold;
}

    .sub-menu-item:hover {
        cursor: pointer;
        background-color: #ebeaea;
    }

.collapse-menu .main-menu-item, .collapse-menu .sub-menu-item {
    text-align: center !important;
    padding-left: 0px !important;
    transition: all 0.2s linear;
}

    .collapse-menu .main-menu-item div.menu-icon {
        margin: auto !important;
    }

.collapse-menu .menu-icon {
    margin-left: 0px;
    transition: all 0.2s linear;
}



.menu-icon {
    margin-right: 5px;
    margin-left: 18px;
    opacity: 1;
}

.menu-text {
    opacity: 1;
    transition: all 0.5s linear;
}

.menu-icon-big {
    font-size: 26px !important;
}

.menu-icon-small {
    font-size: 14px !important;
}

.menu-selected {
    border-left: 6px solid #171e20;
    background-color: #ebeaea;
}

    .menu-selected span {
        color: black;
        font-weight: 400;
    }

.menu-animate {
    opacity: 0;
    transition: opacity 0.5s linear;
}

.header-right-side tr td {
    padding: 3px 20px;
}

    .header-right-side tr td:not(:last-child) {
        border-right: 0.5px solid #ffffffb8;
    }

.submenu-right-side tr td {
    padding: 10px 20px;
    height: 45px;
}

.table-subitems {
    min-width: 200px;
}

    .table-subitems tr td {
        color: black;
        padding: 10px 15px;
        border-bottom: 1px solid #dfdfdfcf;
    }

    .table-subitems tr:last-child td:last-child {
        border-bottom: unset;
    }

    .table-subitems tr:hover {
        background-color: #ebeaea;
    }

.inner-ul {
    padding: 6px 0px 6px 44px;
    margin: 10px;
}

    .inner-ul > li {
        padding: 8px;
    }

.outer-div {
    width: 325px;
    height: 320px;
    border-radius: 5px;
    box-shadow: 2px 2px 5px 2px #262626ed;
    background-color: #171e21;
    border-top: 5px solid red;
    display: inline-block;
    margin-right: 15px;
}

.light-mode .outer-div {
    box-shadow: 2px 2px 5px 2px #c3bfbfed !important;
    background-color: #f1f1f1 !important;
}

.card-table {
    width: 100%
}

    .card-table tr td {
        padding: 8px;
    }

.card-sub-header {
    font-weight: bold;
}

.card-header {
    color: #00669f;
    font-weight: bold;
}

.card-table tr:first-child {
    border-bottom: 0.5px solid #00669f52;
}

.line {
    padding-bottom: 3px;
    border-bottom-style: solid;
    border-bottom-width: 3.1px;
    width: fit-content;
    border-bottom-color: #44fff4;
    font-size: 20px;
    font-weight: bold;
    font-style: italic;
}

.themetoggle {
    width: 96vw;
    margin: 97px auto 0px auto;
}

.checkbox-list input {
    margin-right: 5px;
}

.checkbox-list label {
    font-weight: unset;
}

#mainBody {
    background-color: #32383d;
    width: 100vw;
    height: 98vh;
    padding: 0px;
}

.light-mode {
    background-color: #f1f1f1 !important;
    transition: all 1s ease-in-out;
}

    .light-mode * {
        color: #1a1a1af7;
    }

.nav-header {
    background-color: #171e21;
    border-color: #171e21;
}

.light-mode .nav-header {
    background-color: #49bde9 !important;
    background-image: linear-gradient(to right, #15a5ec, #49bde9, #23c0d9) !important;
    border-color: #0f9fd5 !important;
}

.quicker-btn {
    padding: 2px 6px;
    border-radius: 30px;
    border: unset;
    color: #171e21;
    font-size: 17px;
    font-weight: bold;
    line-height: 1.4;
    vertical-align: baseline;
}

.light-mode .quicker-btn {
    color: #0f9fd5 !important;
}

.panel-subitems {
    visibility: hidden;
    z-index: 10;
    position: absolute;
    box-shadow: 2px 2px 5px 2px #1e1e1eed;
    border-color: #6d6d6d;
    background-color: #171e21;
}

.panel-default > .panel-heading {
    background-color: #6c7884;
    color: unset;
}

.panel-footer {
    background-color: unset;
}

.light-mode .panel-subitems {
    box-shadow: 2px 2px 5px 2px #dededeed !important;
    border-color: #ddd !important;
    background-color: #fff !important;
}

.light-mode .panel-default > .panel-heading {
    background-color: #fff !important;
}

#tableQuickLink {
    width: 100%;
    padding: 20px;
}

    #tableQuickLink tr th {
        background-color: #6c7884;
        border: 1px solid #6c7884;
        padding: 10px;
        text-align: left;
    }

    #tableQuickLink tr td {
        border: 1px solid #6c7884;
        padding: 8px;
        text-align: left;
    }


.light-mode #tableQuickLink tr th {
    background-color: #f3f6f8 !important;
    border: 1px solid #f3f6f8 !important;
}

.light-mode #tableQuickLink tr td {
    border: 1px solid #f3f6f8 !important;
}

.content-sub-menu {
    height: 40px;
    box-shadow: 2px 2px 5px 2px #2b2828ed;
    background-color: #3c464e;
    position: sticky;
    top: 40px;
    z-index: 4;
}

.light-mode .content-sub-menu {
    box-shadow: 2px 2px 5px 2px #c3bfbfed !important;
    background-color: white !important;
}

.navbar-nav > li > a {
    padding-top: 0px;
    padding-bottom: 6px;
}

.navbar-nav > li:hover {
    border-bottom: 3px solid white;
}

    .navbar-nav > li:hover a {
        background-color: unset;
        color: white;
    }

.light-mode .navbar-nav > li:hover {
    border-bottom: 3px solid #00669f !important;
}

    .light-mode .navbar-nav > li:hover a {
        color: #000000ab !important;
    }

.menuData {
    color: white;
    font-weight: bold;
    padding: 0px 20px;
}

.light-mode .menuData {
    color: #000000ab !important;
}

.submenuData {
    color: white;
    font-weight: bold;
    padding: 0px 20px;
}

.light-mode .submenuData {
    color: #000000ab !important;
}

.sub_submenuData {
    color: white;
    font-weight: bold;
    padding: 0px 20px;
}

.light-mode .sub_submenuData {
    color: #000000ab !important;
}

.assignMachine_menuData {
    color: white;
    font-weight: bold;
    padding: 0px 20px;
}

.light-mode .assignMachine_menuData {
    color: #000000ab !important;
}

.daySubMenu {
    color: white;
    font-weight: bold;
    padding: 0px 20px;
}

.light-mode .daySubMenu {
    color: #000000ab !important;
}

.arrow {
    border: solid white;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 2px;
    position: absolute;
    top: 23px;
    left: 39%;
}

.up {
    transform: rotate(-135deg);
    -webkit-transform: rotate(-135deg);
}

.light-mode .arrow {
    border: solid #00669f !important;
    border-width: 0 3px 3px 0 !important;
}

.selected-Submenu {
    border-bottom: 3px solid red;
    background-color: unset !important;
    color: white !important;
    font-size: 17px;
    font-weight: 800;
}

.selected-Submenu-ArrowUp {
    border: solid red;
    border-width: 0 3px 3px 0;
}

.light-mode .selected-Submenu {
    border-bottom: 3px solid #00669f;
    color: #000000ab !important;
}

.selected-machine-menu {
    border-bottom: 3px solid red;
    background-color: unset !important;
    color: black !important;
}

.light-mode .selected-machine-menu {
    border-bottom: 3px solid #00669f;
    color: black !important;
}


.selected-sub-Submenu {
    border-bottom: 3px solid red;
    background-color: unset !important;
    color: white !important;
    font-size: 17px;
    font-weight: 800;
}

.selected-sub-Submenu-ArrowUp {
    border: solid red;
    border-width: 0 3px 3px 0;
}

.light-mode .selected-sub-Submenu {
    border-bottom: 3px solid #00669f;
    color: #000000ab !important;
}

.submenus-style > li:hover {
    border-bottom: 3px solid red;
}

    .submenus-style > li:hover a {
        background-color: unset;
        color: white;
    }

.light-mode .submenus-style > li:hover {
    border-bottom: 3px solid #00669f !important;
}

    .light-mode .submenus-style > li:hover a {
        color: #000000ab !important;
    }

.machine-menu-style > li:hover {
    border-bottom: 3px solid red;
}

    .machine-menu-style > li:hover a {
        background-color: unset;
        color: black;
    }


.P1Table {
    background-color: #212528 !important;
    width: 100%;
    box-shadow: 2px 2px 5px 2px #262626ed;
}

    .P1Table tr th {
        padding: 4px 10px;
        background-color: #6c7884;
        position: sticky;
        top: 0px;
        z-index: 2;
    }

    .P1Table tr td {
        padding: 8px;
        border: none;
        border-bottom: 0.5px solid #a3a3a361;
        border-right: 0.5px solid #363333 !important;
        text-align: left;
    }

.light-mode .P1Table > tbody > tr:hover > td {
    background-color: #a3a3a361;
}

.P1Table-footer-style tr:last-child td {
    background-color: #6c7884;
}

.light-mode .P1Table {
    background-color: white !important;
    box-shadow: 2px 2px 5px 2px #dededeed !important;
}

    .light-mode .P1Table tr th {
        background-color: #ebebeb !important;
        border: 0.5px solid gainsboro;
    }

    .light-mode .P1Table tr td {
        border: 0.5px solid #f1f1f1 !important;
    }

    .light-mode .P1Table > tbody > tr:hover > td {
        background-color: #f1f1f1 !important;
    }

    .light-mode .P1Table tr td a {
        color: #1a1a1af7 !important;
    }

.light-mode .P1Table-footer-style tr:last-child td {
    background-color: #ebebeb !important;
}

.datepicker {
    background-color: #171e21;
}

.light-mode .datepicker {
    background-color: white !important;
}

.datetimepicker {
    background-color: #171e21;
}

.light-mode .datetimepicker {
    background-color: white !important;
}

.bootstrap-datetimepicker-widget .picker-switch td span {
    background-color: #171e21;
}

    .bootstrap-datetimepicker-widget .picker-switch td span:hover {
        background-color: #171e21;
    }

.bootstrap-datetimepicker-widget table th.picker-switch:hover {
    background-color: #171e21 !important;
}

.table-condensed > thead > tr > th:hover, .table-condensed > tbody > tr > th:hover, .table-condensed > tfoot > tr > th:hover, .table-condensed > thead > tr > td:hover, .table-condensed > tbody > tr > td:hover, .table-condensed > tfoot > tr > td:hover {
    background-color: #171e21 !important;
}

.light-mode .table-condensed > thead > tr > th:hover, .light-mode .table-condensed > tbody > tr > th:hover, .light-mode .table-condensed > tfoot > tr > th:hover, .light-mode .table-condensed > thead > tr > td:hover, .light-mode .table-condensed > tbody > tr > td:hover, .light-mode .table-condensed > tfoot > tr > td:hover {
    background-color: white !important;
}

.bootstrap-datetimepicker-widget table td {
    background-color: #171e21 !important;
}

.light-mode .bootstrap-datetimepicker-widget .picker-switch td span {
    background-color: white !important;
}

.light-mode .bootstrap-datetimepicker-widget table td {
    background-color: white !important;
}

.bootstrap-datetimepicker-widget .timepicker-hour:hover, .bootstrap-datetimepicker-widget .timepicker-minute:hover, .bootstrap-datetimepicker-widget .timepicker-second:hover {
    background-color: #171e21 !important;
}

.bootstrap-datetimepicker-widget table td span:hover {
    background-color: #171e21 !important;
}

.light-mode .bootstrap-datetimepicker-widget .timepicker-hour:hover, .light-mode .bootstrap-datetimepicker-widget .timepicker-minute:hover, .light-mode .bootstrap-datetimepicker-widget .timepicker-second:hover {
    background-color: white !important;
}

.light-mode .bootstrap-datetimepicker-widget table td span:hover {
    background-color: white !important;
}

.bootstrap-datetimepicker-widget table td {
    padding: 7px;
}

.btn-info {
    font-size: 18px;
    padding: 10px 30px;
}

.light-mode .btn-info {
    color: white !important;
}

.box-shadow {
    box-shadow: 2px 2px 5px 2px #151617;
}

.light-mode .box-shadow {
    box-shadow: 2px 5px 2px #dededeed !important;
}

.highcharts-background {
    fill: #171e21;
}

.highchart-xyaxis-label text {
    fill: white;
    stroke: white;
    font-family: initial;
}

.highcharts-title text {
    font-size: 20px;
    fill: red;
}

.highcharts-legend text {
    fill: red;
}

.highcharts-legend-item > span > span {
    color: red;
}

.highcharts-legend-item-hidden > span > span {
    color: red;
}

.span-legend-active {
    color: white !important;
}

.light-mode .span-legend-active {
    color: #1a1a1af7 !important;
}

.light-mode .highcharts-background {
    fill: white !important;
}

.light-mode .highchart-xyaxis-label text {
    fill: #1a1a1af7 !important;
    stroke: #1a1a1af7 !important;
}

.Btns {
    color: #fff;
    background: -webkit-linear-gradient(top, #aaa 0,#000 40%, #555 100%);
    -webkit-box-shadow: inset 0 -1em 0 0.2em rgba(0,0,0,.55);
    border: 2px solid gray;
    -webkit-border-radius: 1em;
    font-weight: 700;
    padding: 5px 20px;
    font-size: 16px;
    margin-left: 4px;
    margin-right: 4px;
}

.light-mode .Btns {
    background: -webkit-linear-gradient(top, #4ad5f5 0,#15567f 40%, #23eabc 100%) !important;
    -webkit-box-shadow: inset 0 -1em 0 0.2em rgba(0,0,0,.55) !important;
    border: 2px solid #0a9a9a !important;
}

.light-mode .aa {
    border-bottom: 3px solid #00669f !important;
    background-color: unset !important;
    color: #000000ab !important;
}

.other-menu-style {
    border-bottom: unset;
    color: white;
}

.selected-menu-style {
    background-color: unset !important;
    border-bottom: 3px solid white !important;
    color: white !important;
}

.light-mode .other-menu-style {
    color: #000000ab !important;
}

.light-mode .selected-menu-style {
    background-color: unset !important;
    border-bottom: 3px solid #00669f !important;
    color: #000000ab !important;
}

.outer-ul {
    text-align: left;
}

    .outer-ul li {
        list-style-type: none;
    }

    .outer-ul > li {
        padding: 10px;
    }

        .outer-ul > li:hover {
            background-color: #a3a3a361;
        }

.datetime-txtstyle {
    border: unset;
    border-bottom: 2px solid red;
    background-color: unset;
    color: white;
}

.light-mode .datetime-txtstyle {
    color: black !important;
}



.div-show-nodatafound-message {
    text-align: center;
}

.lbl-nondatafound {
    font-weight: bold;
    font-size: 30px;
    color: white;
}

.light-mode .lbl-nondatafound {
    color: black !important;
}

.btn-to-span-looks {
    background: unset;
    border: unset;
}


.warning-modal-content {
    border: 2px solid #f7d631;
}

.warning-modal-header {
    background-color: #f7d631;
    padding: 8px;
    color: black;
    text-align: center;
}

.warning-modal-title {
    color: black;
    font-weight: bold;
    font-size: 25px;
}

.warning-modal-msg {
    font-size: 18px;
    color: black;
}

.warning-modal-btn {
    background-color: #f7d631;
    border: 1px solid #f7d631;
    color: black;
    font-weight: bold;
    padding: 8px 25px;
    border-radius: 8px;
}

.error-modal-content {
    border: 2px solid #f50505;
}

.error-modal-header {
    background-color: #f50505;
    padding: 8px;
    color: white;
    text-align: center;
}

.error-modal-title {
    color: white;
    font-weight: bold;
    font-size: 25px;
}

.error-modal-msg {
    font-size: 18px;
    color: white;
}

.error-modal-btn {
    background-color: #f50505;
    border: 1px solid #f50505;
    color: white;
    font-weight: bold;
    padding: 8px 25px;
    border-radius: 8px;
}

.confirm-modal-content {
    border: 2px solid #3cbbef;
}

.confirm-modal-header {
    background-color: #3cbbef;
    padding: 8px;
    color: black;
    text-align: center;
}

.confirm-modal-title {
    color: black;
    font-weight: bold;
    font-size: 25px;
}

.confirm-modal-msg {
    font-size: 18px;
    color: black;
}

.confirm-modal-btn {
    background-color: #3cbbef;
    border: 1px solid #3cbbef;
    color: black;
    font-weight: bold;
    padding: 8px 25px;
    border-radius: 8px;
}

.modal-footer {
    padding: 25px;
    text-align: center;
}

.modal-icons {
    font-size: 3pc;
}

.normal-modal-content {
    box-shadow: 2px 2px 5px 2px #1e1e1eed;
    border-color: #6d6d6d;
    background-color: #171e21;
}

.light-mode .normal-modal-content {
    box-shadow: 2px 2px 5px 2px #dededeed !important;
    border-color: #ddd !important;
    background-color: #fff !important;
}

.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 30px;
}

    .switch input {
        opacity: 0;
        width: 0;
        height: 0;
    }

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}

    .slider:before {
        position: absolute;
        content: "";
        height: 26px;
        width: 26px;
        left: 4px;
        bottom: 4px;
        background-color: white;
        -webkit-transition: .4s;
        transition: .4s;
    }

input:checked + .slider {
    background-color: #31363a;
}

input:focus + .slider {
    box-shadow: 0 0 1px #31363a;
}

input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}

.slider.round {
    border-radius: 34px;
}

    .slider.round:before {
        border-radius: 50%;
        width: 23px;
        height: 23px;
        margin: 3px 2px 0px 2px;
    }

fieldset {
    border: 1px solid #6d6d6d;
    padding: 0px;
    border-radius: 4px;
    width: fit-content;
    box-shadow: 2px 2px 8px 2px #171616;
    margin-left: 3px;
    margin-right: 3px;
}

.light-mode fieldset {
    border: 1px solid #c1c1c1 !important;
    box-shadow: 2px 2px 8px 2px #c3bfbfed !important;
}

.field-set {
    padding: 0 5px 0 5px;
}

legend {
    text-align: left;
    color: white;
    display: block;
    width: auto;
    padding: 0;
    margin-bottom: -5px;
    font-size: 21px;
    line-height: inherit;
    border-bottom: transparent;
}

.light-mode legend {
    color: #4f4e63 !important;
}

.filter-field-table {
    margin-bottom: 6px;
}

.filter-table-gap tr:first-child td {
    padding-bottom: 7px;
}

.filterTbl tr td {
    font-size: 14px;
    padding: 3px;
}

    .filterTbl tr td select {
        min-width: 120px
    }

.form-control {
    border-radius: 10px;
}

.dropdown-list option {
    color: black;
}

.light-mode .dropdown-list option {
    color: black !important;
}

.action-glypicon, .action-glypicon:hover {
    color: white;
}

.addUpdateTbl tr td {
    padding: 10px 4px !important;
}

.infoModal .modal-content {
    background: black;
}

.action-glypicon, .action-glypicon:hover {
    color: white;
}

.infoModal * {
    color: black;
}

.infoModal .modal-content {
    border: 1px solid #5b5b5b;
    background: white;
}

.infoModal .modal-footer {
    padding: 9px;
    border: 1px solid #318bd8;
    background-color: white;
}

.infoModal .modal-header {
    border-bottom: 1px solid #337ab7;
    background-color: #318bd8;
}

    .infoModal .modal-header .modal-title {
        color: white;
    }

    .infoModal .modal-header h4 {
        font-weight: bold;
    }

.infoModal .modal-body {
    border-left: 1px solid #318bd8;
    border-right: 1px solid #318bd8;
}

.infoModal .Btns {
    background: unset;
    -webkit-box-shadow: unset;
    font-weight: 700;
    padding: 5px 20px;
    background-color: #318bd8;
    color: white;
    border: 1px solid #318bd8;
    font-size: 16px;
    border-radius: 5px;
}

    .infoModal .Btns:hover {
        background-color: #1474c5;
        border: 1px solid #1474c5;
    }

.infoModal .datepicker {
    background-color: white !important;
}

.infoModal .datetimepicker {
    background-color: white !important;
}

.infoModal .table-condensed > thead > tr > th:hover, .infoModal .table-condensed > tbody > tr > th:hover, .infoModal .table-condensed > tfoot > tr > th:hover, .infoModal .table-condensed > thead > tr > td:hover, .infoModal .table-condensed > tbody > tr > td:hover, .infoModal .table-condensed > tfoot > tr > td:hover {
    background-color: white !important;
}

.infoModal .bootstrap-datetimepicker-widget .picker-switch td span {
    background-color: white !important;
}

.infoModal .bootstrap-datetimepicker-widget table td {
    background-color: white !important;
}

.infoModal .bootstrap-datetimepicker-widget .timepicker-hour:hover, .infoModal .bootstrap-datetimepicker-widget .timepicker-minute:hover, .infoModal .bootstrap-datetimepicker-widget .timepicker-second:hover {
    background-color: white !important;
}

.infoModal .bootstrap-datetimepicker-widget table td span:hover {
    background-color: white !important;
}

.infoModal .div-border-style {
    border-bottom: 1px solid #d0d6da;
}

.infoModal .div-border-top-style {
    border-top: 1px solid #d0d6da;
}

.infoModal fieldset {
    border: 1px solid #c1c1c1 !important;
    box-shadow: 2px 2px 8px 2px #c3bfbfed !important;
}

.infoModal legend {
    color: #4f4e63 !important;
}

.infoModal .P1Table > tbody > tr:hover > td {
    background-color: #a3a3a361;
}

.infoModal .P1Table-footer-style tr:last-child td {
    background-color: #6c7884;
}

.infoModal .P1Table {
    background-color: white !important;
    box-shadow: 2px 2px 5px 2px #dededeed !important;
}

    .infoModal .P1Table tr th {
        background-color: #ebebeb !important;
        border: 0.5px solid gainsboro;
    }

    .infoModal .P1Table tr td {
        border: 0.5px solid #f1f1f1 !important;
    }

    .infoModal .P1Table > tbody > tr:hover > td {
        background-color: #f1f1f1 !important;
    }

    .infoModal .P1Table tr td a {
        color: #1a1a1af7 !important;
    }

.infoModal .P1Table-footer-style tr:last-child td {
    background-color: #ebebeb !important;
}

.checkbox-radiobtn > input {
    width: 1em;
    height: 1em;
    background-color: white;
    border-radius: 50%;
    border: 1px solid #ddd;
    -webkit-appearance: none;
    outline: none;
    cursor: pointer;
}

.checkbox-radiobtn > label {
    vertical-align: text-bottom;
    margin-bottom: 0px;
    margin-left: 2px;
}

.checkbox-radiobtn > input:checked {
    background-color: #056de3;
}
